services:
  mongo:
    image: mongo
    container_name: mongo_db
    restart: no
    ports:
      - "${MONGO_HOST_PORT}:27017"
    networks:
      - bb_network
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db

  postgres:
    image: postgres:11.9
    container_name: postgres_db
    restart: no
    shm_size: 128mb
    ports:
      - "${POSTGRES_HOST_PORT}:5432"
    networks:
      - bb_network
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

networks:
  bb_network:
    name: ${BB_NETWORK}
    external: true

volumes:
  mongo_data:
  postgres_data: